<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>La Tienda del 10</title>
        <link rel="stylesheet" href="/css/productDetail.css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    </head>
    <body>
        <header>
            <div class="menu-hamburguesa">
                <i class="fas fa-bars"></i>
            </div>
            <div class="logo-header">
                <i class="fas fa-futbol"></i>
            </div>
            <div class="menu-perfil">
                <i class="fas fa-user-circle"></i>
                <i class="fas fa-shopping-cart"></i>
                <i class="far fa-heart"></i>
            </div>
            <div class="linea"></div>
            <div class="barra-busqueda">
                <i class="fas fa-search"></i
                ><input type="search" name="barra-busqueda" />
            </div>
            <nav>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Redes</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section class="producto">
                <img class="imagenPrincipal" src="https://assets.adidas.com/images/w_600,f_auto,q_auto/200a528371ff41c09a88aeca001950c3_9366/Camiseta_Titular_Oficial_Argentina_22_Blanco_HB9218_21_model.jpg" alt="foto producto">
                <div>
                    <img src="https://assets.adidas.com/images/w_600,f_auto,q_auto/200a528371ff41c09a88aeca001950c3_9366/Camiseta_Titular_Oficial_Argentina_22_Blanco_HB9218_21_model.jpg" alt="foto pequeña">
                    <img src="https://assets.adidas.com/images/w_600,f_auto,q_auto/200a528371ff41c09a88aeca001950c3_9366/Camiseta_Titular_Oficial_Argentina_22_Blanco_HB9218_21_model.jpg" alt="foto pequeña">
                    <img src="https://assets.adidas.com/images/w_600,f_auto,q_auto/200a528371ff41c09a88aeca001950c3_9366/Camiseta_Titular_Oficial_Argentina_22_Blanco_HB9218_21_model.jpg" alt="foto pequeña">
                    <img src="https://assets.adidas.com/images/w_600,f_auto,q_auto/200a528371ff41c09a88aeca001950c3_9366/Camiseta_Titular_Oficial_Argentina_22_Blanco_HB9218_21_model.jpg" alt="foto pequeña">
                </div>
                <h4>Camiseta de Argentina</h4>
                <p>$******</p>
                <div class="talles">
                    <img src="https://dibujosycolores.com/letras/letra-s/letra-s-1.jpg" alt="talle S">
                    <img src="https://dibujosycolores.com/letras/letra-m/letra-m-1.jpg" alt="talle M">
                    <img src="https://dibujosycolores.com/letras/letra-l/letra-l-1.jpg" alt="talle L">
                    <img src="https://dibujosycolores.com/letras/letra-x/letra-x-1.jpg" alt="talle XL">
                </div>
                <div>
                    <button type="submit">Añadir al carrito</button>
                    <button type="submit">Comprar ahora</button>
                </div>
            </section>
            <section class="informacionProducto">
                <h4>Más información</h4>
                <p>Guía de talles</p>
                <p>Materiales</p>
                <p>Metodos de envío</p>
            </section>
        </main>
        <footer>
            <div class="logo">
                <img src="" alt="" />
            </div>
            <div class="redes">
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-whatsapp"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fas fa-map-marker-alt"></i></a>
            </div>
            <p>Preguntas frecuentes</p>
            <p>Formas de envio</p>
        </footer>
    </body>
</html>