<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>La Tienda del 10</title>
        <link rel="stylesheet" href="/css/productCart.css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    </head>
    <body>
        <header>
            <div class="menu-hamburguesa">
                <i class="fas fa-bars"></i>
            </div>
            <div class="logo-header">
                <i class="fas fa-futbol"></i>
            </div>
            <div class="menu-perfil">
                <i class="fas fa-user-circle"></i>
                <i class="fas fa-shopping-cart"></i>
                <i class="far fa-heart"></i>
            </div>
            <div class="linea"></div>
            <div class="barra-busqueda">
                <i class="fas fa-search"></i>
                <input type="search" name="barra-busqueda"/>
            </div>
            <nav>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Redes</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section class="carrito">
                <h4>Carrito de compras</h4>
                <p><button type="reset">Vaciar carrito</button></p>
                <div>
                    <img src="https://assets.adidas.com/images/w_600,f_auto,q_auto/200a528371ff41c09a88aeca001950c3_9366/Camiseta_Titular_Oficial_Argentina_22_Blanco_HB9218_21_model.jpg" alt="foto pequeña">
                    <h3><a href="#">Producto</a></h3>
                    <p>Descripción del producto</p>
                    <!-- Menú desplegable -->
                    <label for="cantidad">Cantidad:</label>
                    <select name="cantidad" id="cantidad">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <!-- Botón de cantidad -->
                    <p>$******</p>
                </div>
                <div>
                    <img src="https://assets.adidas.com/images/w_600,f_auto,q_auto/200a528371ff41c09a88aeca001950c3_9366/Camiseta_Titular_Oficial_Argentina_22_Blanco_HB9218_21_model.jpg" alt="foto pequeña">
                    <a href="#">Producto</a>
                    <p>Descripción del producto</p>
                    <!-- Menú desplegable -->
                    <label for="cantidad">Cantidad:</label>
                    <select name="cantidad" id="cantidad">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <!-- Botón de cantidad -->
                    <p>$******</p>
                </div>
                <div>
                    <img src="https://assets.adidas.com/images/w_600,f_auto,q_auto/200a528371ff41c09a88aeca001950c3_9366/Camiseta_Titular_Oficial_Argentina_22_Blanco_HB9218_21_model.jpg" alt="foto pequeña">
                    <a href="#">Producto</a>
                    <p>Descripción del producto</p>
                    <!-- Menú desplegable -->
                    <label for="cantidad">Cantidad:</label>
                    <select name="cantidad" id="cantidad">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <!-- Botón de cantidad -->
                    <p>$******</p>
                </div>
            </section>
            <section class="envio">
                <h3>Envío</h3>
                <!-- Menú desplegable para país-provincia-ciudad -->
                <label for="pais">País:</label>
                <select name="pais" id="pais">
                    <option value="Argentina">Argentina</option>
                    <option value="Bolivia">Bolivia</option>
                    <option value="Brasil">Brasil</option>
                    <option value="Chile">Chile</option>
                    <option value="Paraguay">Paraguay</option>
                    <option value="Perú">Perú</option>
                    <option value="Uruguay">Uruguay</option>
                </select>
                <label for="provincia">Provincia:</label>
                <select name="provincia" id="provincia">
                    <option value="Buenos Aires">Argentina</option>
                    <option value="Capital Federal">Bolivia</option>
                    <option value="Córdoba">Brasil</option>
                    <option value="Entre Ríos">Chile</option>
                    <option value="Santa Fe">Paraguay</option>
                </select>
                <!-- Código postal -->
                <div class="codigo-postal">
                    <input type="search" name="barra-busqueda"/>
                </div>
                <p>$******</p>
            </section>
            <section class="pago">
                <h3>Formas de pago</h3>
                <p><input type="checkbox">Tarjeta de crédito</p>
                <p><input type="checkbox">Tarjeta de débito</p>
                <p><input type="checkbox">Depósito o transferencia</p>
            </section>
        <footer>
            <div class="logo">
                <img src="" alt="" />
            </div>
            <div class="redes">
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-whatsapp"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fas fa-map-marker-alt"></i></a>
            </div>
            <p>Preguntas frecuentes</p>
            <p>Formas de envio</p>
        </footer>
    </body>
</html>