<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>La Tienda del 10</title>
        <link rel="stylesheet" href="/css/productCart.css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    </head>
    <body>
        <header>
            <div class="menu-hamburguesa">
                <i class="fas fa-bars"></i>
            </div>
            <div class="logo-header">
                <i class="fas fa-futbol"></i>
            </div>
            <form class="barra-busqueda" action="/" method="GET">
                <input class="buscador" type="text" placeholder="Buscar" name="buscador" id="buscador">
                <button class="lupa" type="submit"><i class="fa fa-search"></i></button>
            </form>
            <div class="iconoPerfil">
                <i class="fas fa-user-circle"></i>
            </div>
            <div class="carritoFavoritos">
                <i class="fas fa-shopping-cart"></i>
                <i class="far fa-heart"></i>
            </div>
            <nav>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Redes</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section class="carrito">
                <h4>Carrito de compras</h4>
                <p><button type="reset">Vaciar carrito</button></p>
                <div>
                    <img src="https://assets.adidas.com/images/w_600,f_auto,q_auto/200a528371ff41c09a88aeca001950c3_9366/Camiseta_Titular_Oficial_Argentina_22_Blanco_HB9218_21_model.jpg" alt="foto pequeña">
                    <h3><a href="#">Producto</a></h3>
                    <p>Descripción del producto</p>
                    <!-- Menú desplegable -->
                    <label for="cantidad">Cantidad:</label>
                    <button>-</button><span>1</span><button>+</button>
                    <!-- Botón de cantidad -->
                    <p>$******</p>
                </div>
                <div>
                    <img src="https://assets.adidas.com/images/w_600,f_auto,q_auto/200a528371ff41c09a88aeca001950c3_9366/Camiseta_Titular_Oficial_Argentina_22_Blanco_HB9218_21_model.jpg" alt="foto pequeña">
                    <a href="#">Producto</a>
                    <p>Descripción del producto</p>
                    <label for="cantidad">Cantidad:</label>
                    <button>-</button><span>1</span><button>+</button>
                   <!-- <select name="cantidad" id="cantidad">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>-->
                    <p>$******</p>
                </div>
                <div>
                    <img src="https://assets.adidas.com/images/w_600,f_auto,q_auto/200a528371ff41c09a88aeca001950c3_9366/Camiseta_Titular_Oficial_Argentina_22_Blanco_HB9218_21_model.jpg" alt="foto pequeña">
                    <a href="#">Producto</a>
                    <p>Descripción del producto</p>
                    <!-- Menú desplegable -->
                    <label for="cantidad">Cantidad:</label>
                    <button>-</button><span>1</span><button>+</button>
                    <!-- Botón de cantidad -->
                    <p>$******</p>
                </div>
                <i class="fas fa-arrow-down"></i>
            </section>
            <section class="envio">
                <h3>Envío</h3>
                <label for="provincia">Provincia:</label>
                <select name="provincia" id="provincia">
                    <option value="Buenos Aires">Buenos Aires</option>
                    <option value="Capital Federal">Capital Federal</option>
                    <option value="Córdoba">Córdoba</option>
                    <option value="Entre Ríos">Entre Ríos</option>
                    <option value="Santa Fe">Santa Fe</option>
                </select>
                <div class="envio-barraBusqueda">
                    <input placeholder="Ciudad" type="search" name="barra-busqueda"/>
                </div>
                <div class="envio-barraBusqueda">
                    <input placeholder="Código postal" type="search" name="barra-busqueda"/>
                </div>
                <p>$******</p>
            </section>
            <section class="pago">
                <h3>Formas de pago</h3>
                <div>
                    <input type="radio" name="formaPago" id="credito">Tarjeta de crédito
                    <input type="radio" name="formaPago" id="debito">Tarjeta de débito
                    <input type="radio" name="formaPago" id="transferencia">Depósito o transferencia
                </div>
                <div>
                    <h4>Monto total:</h4>
                    <p>$*****</p>
                </div>
            </section>
            <button type="submit">Comprar</button>
        </main>
        <footer>
            <div class="logo">
                <i class="fas fa-futbol"></i>
            </div>
            <div class="informacion-footer">
                <div class="redes">
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-whatsapp"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fas fa-map-marker-alt"></i></a>
                </div>
                <p>Preguntas frecuentes</p>
                <p>Formas de envio</p>
            </div>
        </footer>
    </body>
</html>