@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:ital,wght@0,600;0,700;1,400&family=Roboto:wght@300;400&family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;;
}

.top-header{
    display: flex;
    align-items: center;
}

header form.barra-busqueda{
    width: 50%;
    display: flex;
}

header .barra-busqueda input{
    background-color: #FFF;
    outline: none;
    color: #666;
    padding: 2px;
    width: 90%;
    height: 25px;
    border: none;
    border-radius: 3px 0px 0px 3px;
    font-size: 14px;
    text-overflow: ellipsis;
    display: none;
}


header .barra-busqueda i{
    background-color: #FFF;
    width: 10%;
    min-width: 30px;
    color: #666;
    text-align: center;
    padding-top: 3.5px;
    border: none;
    border-radius: 0px 3px 3px 0px;
    display: none;
}

.menu-hamburguesa{
    width: 20%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrito-lupa{
    display: flex;
    justify-content: center;
    width: 20%;
}

.menu-perfil{
    display: none;
}

.navbar{
    display: none;
}

header{
    background-color: #63bbf2;
}

header div.logo-header{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

main section img{
    width: 100%;
}

.slider{
    height: 270px;
}

.banner-img{
    height: 270px;
}

.fas.fa-ellipsis-h{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    top: -20px;
}

.flechas{
    width: 100%;
    position: relative;
    top: -160px;
    display: flex;
    justify-content: space-between;
}

.marcas img{
    height: 50px;
}

.marcas{
    display: flex;
    justify-content: space-around;
}

main section h3{
    text-align: center;
    margin-top: 5px;
}

main section p{
    text-align: center;
    margin-bottom: 5px;
    margin-top: -5px;
}

.productos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 275px;
}

.productos img{
    width: 80%;
    border-radius: 40px;
}

.dots{
    display: flex;
    justify-content: center;
    width: 100%;
}

footer{
    background-color: #333;
}

.logo-redes{
    display: flex;
}

.logo-footer{
    width: 50%;
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.logo-footer img{
    width: 30%;
}

.redes{
    text-align: center;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p{
    text-align: center;
    margin-top: 10px;
}