<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head', {styles: ["index"]}) %>
  <body>
    <%- include('partials/header') %>

    <main>
      <section class="slider">
        <div class="banner-img">
          <img
            class="active"
            src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/esAR/Images/story-snipped-cielo-ar-d_tcm216-1036009.jpg"
            alt="imagen1"
          />
          <img
            src="https://golazo24.com/wp-content/uploads/2023/11/FkSE245XwAIr6_7.webp"
            alt="imagen2"
          />
          <img src="https://viapais.com.ar/resizer/iJc9m_x61-1W2at0creF3GDWrII=/1200x630/smart/filters:quality(75):format(webp)/cloudfront-us-east-1.images.arcpublishing.com/grupoclarin/AVK4OC2J6VBVHGI7UW4CP4HWFA.webp" alt="imagen3">
        </div>
      </section>

      <section>
        <div class="marcas" id="carousel">
          <div class="adidas">
            <img
              src="/images/logoadidas.png"
              alt="logo-adidas"
            />
          </div>
          <div class="nike">
            <img
              src="/images/logonike.png"
              alt="logo-nike"
            />
          </div>
          <div class="puma">
            <img
              src="/images/logopuma.png"
              alt="logo-puma"
            />
          </div>

          <div class="under">
            <img
              src="/images/logounderarmour.png"
              alt="logo-under"
            />
          </div>
          <div class="kappa">
            <img
              src="/images/logokappa.png"
              alt="logo-kappa"
            />
          </div>
          <div class="umbro">
            <img
              src="/images/logoumbro.png"
              alt="logo-umbro"
            />
          </div>
        </div>
      </section>

      <section class="ingresos">
        <h3>Últimos ingresos</h3>
        <div class="productos">
          <div class="carrusel-container">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlTSv1BzUrA6AQKu6KODk3O1YnnH8UyIKcwQ&usqp=CAU" alt="camiseta1" class="carrusel-item" />
            <img src="https://www.dexter.com.ar/on/demandware.static/-/Sites-365-dabra-catalog/default/dw7b4801c1/products/PU765713-01/PU765713-01-1.JPG" alt="camiseta2" class="carrusel-item" />
            <img src="https://assets.adidas.com/images/w_600,f_auto,q_auto/43b3d5dca79c4970ba7d510045536008_9366/Camiseta_Titular_Boca_Juniors_23-24_Azul_IV1922_01_laydown.jpg" alt="camiseta3" class="carrusel-item" />
          </div>
          <div class="flechas">
            <i class="fas fa-chevron-left" onclick="prevSlide()"></i>
            <i class="fas fa-chevron-right" onclick="nextSlide()"></i>
          </div>
        </div>
        <p id="nombreCamiseta"></p>
        <p id="precioCamiseta"></p>
      </section>
    

      <script src="js/carrousel.js"></script>
      <script src="js/carrouselMarcas.js"></script>
      <script src="js/carrouselProductos.js"></script>  
    </main>
    <%- include('partials/footer') %>
  </body>
</html>

