@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:ital,wght@0,600;0,700;1,400&family=Roboto:wght@300;400&family=Ubuntu:wght@300;400;500;700&display=swap');

main {
    background-color: #000;
    color: #fff;
    padding: 5%;
    margin: auto;
}

.slider {
    width: 100%;
  }

  .banner-img {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .banner-img img {
    width: 100%;
    display: none;
  }

  .banner-img img.active {
    display: block;
  }

.marcas img {
    height: 60px;
    width: 70px;
  }
  
  .marcas {
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    margin-top: 30px;
  }
  
  .marcas div {
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  .marcas div.visible {
    opacity: 1;
  }

main section h3{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

main section p{
    text-align: center;
    margin-bottom: 5px;
    margin-top: 10px;
}

@media (min-width: 1200px){
    .carrusel-container img:hover{
      transform: scale(1.05);
      cursor: pointer;
    }

    #nombreCamiseta:hover{
      text-decoration: underline 2px;
      cursor: pointer;
    }
}