*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;;
}

header{
    background-color: #63bbf2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
}

.menu-hamburguesa{
    width: 30%;
    text-align: left;
    cursor: pointer;
}

.logo-header{
    width: 39%;
    text-align: center;
}

.logo-header a{
    text-decoration: none;
    color: #000;
}

.carritoFavoritos{
    display: none;
}

.barra-busqueda{
    width: 25%;
    text-align: right;
    display: flex;
    align-items: center;
    border-bottom: #333 solid 1px;
}

.barra-busqueda input{
    width: 70%;
    background-color: #63bbf2;
    border: none;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    color: #333;
}

.barra-busqueda button {
    width: 30%;
    background-color: #63bbf2;
    border: none;
    cursor: pointer;
    transition: background-color 0.3 ease;
}

.barra-busqueda button:hover {
    transform: scale(1.1);
  }

.perfil-menu{
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #63bbf2;
    border: 1px solid #333;
    text-align: center;
    z-index: 1;
}

.perfil-menu a{
    color: #000;
    text-decoration: none;
}

.perfil-menu a:hover{
    color: #fff;
}

.iconoPerfil:hover .perfil-menu{
    display: block;
}

.nav-hidden{
    display: none;
}

.nav-hidden a{
    color: #000;
    text-decoration: none;
}

.nav-hidden a:hover{
    color: #fff;
}

.iconoPerfil {
    position: relative;
}

.link-perfil {
    color: inherit;
}

.link-carrito {
    color: inherit;
}

nav {
    display: none;
}

footer{
    display: flex;
    padding: 5%;
    background-color: #333;
    color: #fff;
}

.logo{
    width: 40%;
}

.logo i{
    font-size: 5rem;
}

.informacion-footer{
    width: 60%;
}

.redes{
    display: flex;
    margin-bottom: 4%;
}

.redes a{
    width: 20%;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;    
    transition: color 0.3s;
}

.redes a:hover {
    color: #ffcc00; 
}

.redes a:nth-child(1):hover {
    color: #e4405f;
}

.redes a:nth-child(2):hover {
    color: #1877f2; 
}

.redes a:nth-child(3):hover {
    color: #25d366;
}

.redes a:nth-child(4):hover {
    color: #1da1f2;
}

.redes a:nth-child(5):hover {
    color: #ff4500;
}

.informacion-footer p{
    margin: 2% 0;
}

@media (min-width: 769px){
    header{
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 2%
    }
    
    .menu-hamburguesa {
        display: none;
    }

    .logo-header {
        width: 10%;
        font-size: 4rem;
    }

    .barra-busqueda {
        width: 40%;
        order: 2;
    }

    .barra-busqueda input {
        width: 90%;
    }

    .barra-busqueda button {
        width: 10%
    }

    .iconoPerfil {
        order: 3;
        font-size: 1.5rem;
    }

    .carritoFavoritos {
        display: inline-block;
        width: 6%;
        order: 4;
        text-align: right;
        font-size: 1.5rem;
    }
    
    .nav-hidden {
        display: inline-block;
        width: 40%;
        order: 1;
    }

    nav ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
    }

    nav ul li {
        width: 20%;
    }

    nav ul li a {
        text-decoration: none;
        color: #000;
        transition: color 0.3s ease;
    }

    nav a:hover{
        color: #fff;
    }

    .logo i {
        font-size: 8rem;
    }
    
    .redes {
        margin-bottom: 7%;
    }

    .redes a {
        font-size: 2rem;
    }

    .informacion-footer p {
        font-size: 1.5rem;
    }

    .perfil-menu{
        display: none;
        position: absolute;
        background-color: #fff;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        z-index: 1;
        right: -60px;
    }
    
    .perfil-menu a {
        display: block;
        padding: 5px;
        text-decoration: none;
        color: #333;
        background-color: #63bbf2;
        text-align: center;
      }
      
      .iconoPerfil:hover .perfil-menu {
        display: block;
        cursor: pointer;
      }

      .perfil-menu a:hover {
        background-color: #4285f4; 
        color: #fff; 
        transition: background-color 0.3s ease; 
    }
}

@media only screen and (max-width: 768px) {
    .barra-busqueda {
      width: 50%;
    }
  
    .menu-hamburguesa {
      width: 15%;
    }
  
    nav ul {
      text-align: center;
    }
  
    .nav-visible {
      display: flex;
      flex-direction: column;
      position: absolute;
      z-index: 1;
      top: 60px;
      background-color: #63bbf2;
      width: 100%;
      left: 1px;
    }
  }
