main{
  background-color: #000;
  color: #fff;
  padding: 5%;
  margin: auto;
}

h1 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2%;
}
.botones{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.link-crear {
  color: #fff;
  display: inline-block;
  padding: 10px 20px; 
  background-color: #63bbf2;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.link-crear:hover {
  background-color: #000;
  color: #63bbf2;
}

.container_products {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.caja-producto {
  width: 100%;
  margin: 5% 0;
}

.caja-producto-data {
  margin-top: 2%;
}

.caja-producto a {
  text-decoration: none;
  color: #fff;
  text-align: center;
}

.caja-producto-data:hover{
  text-decoration: underline;
}

.caja-producto-imagen img {
  transition: transform 0.3s ease-in-out;
}

.caja-producto-imagen:hover img {
  transform: scale(1.07);
}

img {
  width: 100%;
}

h2 {
  font-size: 1.3rem;
  text-align: center;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
}

@media (min-width: 769px) {
  h1 {
    font-size: 2.5rem;
    margin-bottom: 0;
  }
  
  .caja-producto {
    width: 25%;
    margin: 5% 0;
  }

  img {
    width: 90%;
  }

}