*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #63bbf2;
    display: flex;
    justify-content: center;
    padding: 3%;
}

.menu-hamburguesa {
    width: 30%;
    text-align: left;
}

.logo-header {
    width: 39%;
    text-align: center;
}

.carritoFavoritos {
    display: none;
}

.barra-busqueda {
    width: 25%;
    text-align: right;
    display: flex;
    align-items: center;
    border-bottom: #333 solid 1px;
}

.barra-busqueda input {
    width: 70%;
    background-color: #63bbf2;
    border: none;
}

.barra-busqueda button {
    width: 30%;
    background-color: #63bbf2;
    border: none;
}

.iconoPerfil {
    width: 6%;
    text-align: right;
}

nav {
    display: none;
}

main {
    background-color: #000;
    color: #fff;
    padding: 5%;
    margin: auto;
}

.producto {
    margin-bottom: 15%;
}

.imagenPrincipal {
    width: 100%;
    border-radius: 4%;
}

.imagenesMiniatura {
    display: flex;
    justify-content: space-between;
    margin: 3% 0;
}

.imagenesMiniatura img {
    width: 20%;
    border-radius: 12%;
}

.producto h4 {
    font-size: 1.5rem;
    text-align: center;
}
.producto p {
    font-size: 1.2rem;
    text-align: center;
}

.talles {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    margin-bottom: 2%;
}

.talles button {
    width: 40px;
    height: 40px;
    background-color: #63bbf2;
    border: none;
    border-radius: 10%;
    font-size: 1rem;
    font-weight: bold;
}

.producto a {
    color: #fff;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 5%;

}

.botonesCompra {
    display: flex;
    justify-content: space-between;
}

.botonesCompra button {
    width: 45%;
    height: 50px;
    background-color: #63bbf2;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
}

.infoDetallada {
    padding: 2%;
    border: 3px solid #fff;
}

.infoDetallada h4 {
    text-align: center;
}

.infoDetallada ul {
    margin-top: 1%;
    list-style: none;
    font-size: 80%;
}

footer {
    display: flex;
    padding: 5%;
    background-color: #333;
    color: #fff;
}

.logo {
    width: 40%;
}

.logo i {
    font-size: 5rem;
}

.informacion-footer {
    width: 60%;
}

.redes {
    display: flex;
    margin-bottom: 4%;
}

.redes a {
    width: 20%;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
}

.informacion-footer p {
    margin: 2% 0;
}

@media (min-width: 769px) {
    header {
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 2%
    }

    .menu-hamburguesa {
        display: none;
    }

    .logo-header {
        width: 10%;
        font-size: 4rem;
    }

    .barra-busqueda {
        width: 40%;
        order: 2;
    }

    .barra-busqueda input {
        width: 90%;
    }

    .barra-busqueda button {
        width: 10%
    }

    .iconoPerfil {
        width: 4%;
        order: 3;
        font-size: 1.5rem;
    }

    .carritoFavoritos {
        display: inline-block;
        width: 6%;
        order: 4;
        text-align: right;
        font-size: 1.5rem;
    }
    
    nav {
        display: inline-block;
        width: 40%;
        order: 1;
    }

    nav ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
    }

    nav ul li {
        width: 20%;
    }

    nav ul li a {
        text-decoration: none; /* Elimina el subrayado de los enlaces */
        color: #000;
    }

    .producto {
        display: flex;
    }

    .imagenes-producto {
        width: 60%;
        display: flex;
    }

    .infoGeneral-producto {
        width: 40%;
    }

    .imagenPrincipal {
        width: 70%;
        margin-right: 5%;
    }

    .imagenesMiniatura {
        flex-direction: column;
        margin: 0;
    }

    .imagenesMiniatura img {
        width: 60%;
    }

    .producto h4 {
        font-size: 2rem;
        margin-top: 6%;
    }

    .producto p {
        font-size: 2rem;
    }

    .talles {
        margin-top: 17%;
        margin-bottom: 3%;
    }

    .talles button {
        width: 60px;
        height: 60px;
        font-size: 1.4rem;
    }

    .producto a {
        margin-bottom: 25%;
    }

    .logo i {
        font-size: 8rem;
    }
    
    .redes {
        margin-bottom: 7%;
    }

    .redes a {
        font-size: 2rem;
    }

    .informacion-footer p {
        font-size: 1.5rem;
    }
}