<header>
    <div class="menu-hamburguesa">
      <i class="fas fa-bars"></i>
    </div>
    <div class="logo-header">
      <i class="fas fa-futbol"></i>
    </div>
    <form action="/" method="get" class="barra-busqueda">
      <input type="text" name="buscador" id="buscador" class="buscador" placeholder="Buscar">
      <button type="submit" class="lupa"><i class="fa fa-search"></i></button>
    </form>
    
    <div class="iconoPerfil">
      <b href="" class="link-perfil" id="perfilBtn"><i class="fas fa-user-circle"></i></b>
      <div class="perfil-menu" id="perfilMenu">
        <% if (locals.isLogged) { %>
            <a href="/users/profile">Perfil</a>
            <a href="/users/logout">Cerrar sesión</a>
          <% } else { %>
            <a href="/users/login">Loguearse</a>
            <a href="/users/register">Registrarse</a>
       <% } %>
      </div>
    </div>

    <div class="carritoFavoritos">
      <a href="/products/productCart" class="link-carrito"><i class="fas fa-shopping-cart"></i></a>
      <i class="far fa-heart"></i>
    </div>

  <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/products">Productos</a></li>
      <li><a href="#">Contacto</a></li>
      <li><a href="#">Redes</a></li>
    </ul>
  </nav>

  <script src="js/perfil.js"></script>
</header>